<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airlines</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div id="app">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col">
                <h1>Airlines</h1>
            </div>
        </div>

        <hr>

        <div
                class="alert alert-secondary"
                role="alert"
                v-if="message"
        >
            Message: {{ message }}
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Airline name" aria-label="Airline name" aria-describedby="basic-addon2"
                           v-model="input.airlineName"
                    >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" v-on:click="addAirline">Add</button>
                    </div>
                </div>

                <hr>

                <div class="spinner-border" role="status"
                     v-if="loading"
                >
                    <span class="sr-only">Loading...</span>
                </div>

                <ul class="list-group"
                >
                    <li
                            class="list-group-item list-group-item-action"
                            v-for="(airline, index) in airlines"
                            v-on:click="selectAirline(index)"
                            v-bind:class="{ active: airline === selected }"
                    >
                        {{index + 1}} - {{ airline.name }}
                    </li>
                </ul>

                <hr>

            </div>
            <div class="col">
                <div class="d-flex justify-content-between" v-if="selected">
                    <h2>{{ selected.name }}</h2>
                    <button
                            type="button"
                            class="btn btn-danger ml-4"
                            v-on:click="deleteAirline(selected)"
                    >Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            input: {
                airlineName: ''
            },
            loading: false,
            message: null,
            selected: null,
            airlines: []
        },
        mounted: function () {
            this.loadAirlines()
        },
        methods: {
            selectAirline: function(index) {
                this.selected = this.airlines[index]
            },

            deleteAirline: function(selected) {
                var self = this;
                self.loading = true;
                self.selected = null;
                self.message = null;

                var index = self.airlines.indexOf(selected);
                if (index > -1) {
                    self.airlines.splice(index, 1);
                }

                $.ajax({
                    url: "/airlines/" + selected.id,
                    type: "DELETE",
                    success: function(response) {
                        self.loading = false;
                        self.message = 'Successful deleted';
                    },
                    error: function(xhr) {
                        self.loading = false;
                        self.message = xhr.responseText;
                    }
                });
            },

            addAirline: function () {
                if (this.input.airlineName) {
                    var self = this;
                    var body = JSON.stringify({name: self.input.airlineName});

                    self.input.airlineName = null;
                    self.selected = null;
                    self.message = null;
                    self.loading = true;

                    $.ajax({
                        url: "/airlines",
                        type: "POST",
                        contentType:"application/json",
                        data: body,
                        success: function(response) {
                            self.loading = false;
                            self.airlines.push(response);
                            self.message = 'Successful added';
                        },
                        error: function(xhr) {
                            self.loading = false;
                            self.message = xhr.responseText;
                        }
                    });
                }
            },

            loadAirlines: function() {
                var self = this;
                self.loading = true;

                $.ajax({
                    url: "/airlines",
                    type: "GET",
                    success: function(response) {
                        self.loading = false;
                        self.airlines = response;
                    },
                    error: function(xhr) {
                        self.loading = false;
                        self.message = xhr.responseText;
                    }
                });
            }
        }
    });
</script>