<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Direction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>

<div id="app">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1>Direction</h1>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">

                <div
                        class="alert alert-secondary"
                        role="alert"
                        v-if="message"
                >
                    Message: {{ message }}
                </div>

                <div id="addCity" v-if="!loading.add">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex p-2 bd-highlight">
                            <h4>Cities</h4>
                        </div>

                        <div class="spinner-border" role="status"
                             v-if="loading.city"
                        >
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="City name" aria-label="Airline name" aria-describedby="basic-addon2"
                               v-model="input.cityName"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" v-on:click="addCity">Add</button>
                        </div>
                    </div>
                </div>

                <div v-if="input.selectedCity">
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex p-2 bd-highlight">{{input.selectedCity.name}}</div>
                        <button
                                type="button"
                                class="btn btn-danger"
                                v-on:click="deleteCity"
                        >X</button>
                    </div>
                </div>

                <hr>
                <ul class="list-group">
                    <li
                            class="list-group-item list-group-item-action"
                            v-for="(city, index) in cities"
                            v-on:click="selectCity(index)"
                            v-bind:class="{ active: city === input.selectedCity }"
                    >
                        {{index + 1}} - {{ city.name}}
                    </li>
                </ul>

                <hr>

            </div>

            <div class="col">
                <div v-if="!loading.city">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex p-2 bd-highlight">
                            <h4>Directions</h4>
                        </div>

                        <div class="spinner-border" role="status"
                             v-if="loading.direction"
                        >
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fromCityInput">From</label>
                            </div>
                            <select class="custom-select" id="fromCityInput" v-model="input.fromCity">
                                <option
                                        v-for="(city, index) in cities"
                                >{{ city.name }}</option>
                            </select>
<!--                            <span>Выбрано: {{ getCityFromName(input.fromCity) }}</span>-->
                        </div>

                        <div class="input-group mb-3 ml-4">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="toCityInput">To</label>
                            </div>
                            <select class="custom-select" id="toCityInput" v-model="input.toCity">
                                <option
                                        v-for="(city, index) in cities"
                                >{{ city.name }}</option>
                            </select>
<!--                            <span>Выбрано: {{ getCityFromName(input.toCity) }}</span>-->
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click="addDirection">Add Direction</button>
                    </div>

                    <hr>
                </div>

                <div v-if="input.selectedDirection">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex p-2 bd-highlight">
                            {{ getCityById(input.selectedDirection.fromCityId).name }} =>
                            {{ getCityById(input.selectedDirection.toCityId).name }}
                        </div>
                        <button
                                type="button"
                                class="btn btn-danger"
                                v-on:click="deleteDirection"
                        >X</button>
                    </div>

                    <div class="d-inline-flex p-2 bd-highlight">{{ input.selectedDirection }}</div>

                    <hr>
                </div>

                <ul class="list-group">
                    <li
                            class="list-group-item list-group-item-action"
                            v-for="(direction, index) in directions"
                            v-on:click="selectDirection(index)"
                            v-bind:class="{ active: direction === input.selectedDirection }"
                    >
                        {{ index + 1 }} -
                        {{ getCityById(direction.fromCityId).name }} =>
                        {{ getCityById(direction.toCityId).name }}
                    </li>
                </ul>
            </div>



        </div>
    </div>
</div>

</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            input: {
                cityName: null,
                selectedCity: null,
                selectedDirection: null,
                fromCity: null,
                toCity: null
            },
            loading: {
                city: false,
                direction: false
            },
            message: null,
            cities: [],
            directions: []
        },
        mounted: function () {
            this.loadCities();
            this.loadDirections();
        },
        methods: {
            selectCity: function(index) {
                this.input.selectedCity = this.cities[index];
            },

            selectDirection: function (index) {
                this.input.selectedDirection = this.directions[index];
            },

            addCity: function () {
                var self = this;

                if (self.input.cityName) {
                    var body = JSON.stringify({
                        name: self.input.cityName
                    });

                    self.input.cityName = null;
                    self.input.selectedCity = null;

                    self.message = null;
                    self.loading.city = true;

                    $.ajax({
                        url: "/directions/cities",
                        type: "POST",
                        contentType:"application/json",
                        data: body,
                        success: function(response) {
                            self.loading.city = false;
                            self.cities.push(response);
                            self.message = 'Successful added';
                        },
                        error: function(xhr) {
                            self.loading.city = false;
                            self.message = xhr.responseText;
                        }
                    });
                } else {
                    self.message = "Заполните все поля!"
                }
            },

            loadCities: function () {
                var self = this;
                self.loading.city = true;

                $.ajax({
                    url: "/directions/cities",
                    type: "GET",
                    success: function(response) {
                        self.loading.city = false;
                        self.cities = response;
                    },
                    error: function(xhr) {
                        self.loading.city = false;
                        self.message = xhr.responseText;
                    }
                });
            },

            loadDirections: function () {
                var self = this;
                self.loading.direction = true;

                $.ajax({
                    url: "/directions",
                    type: "GET",
                    success: function(response) {
                        self.loading.direction = false;
                        self.directions = response;
                    },
                    error: function(xhr) {
                        self.loading.direction = false;
                        self.message = xhr.responseText;
                    }
                });
            },

            deleteCity: function () {
                var self = this;
                var selected = self.input.selectedCity;

                self.loading.city = true;
                self.input.selectedCity = null;
                self.input.selectedDirection = null;
                self.message = null;

                self.directions = null;
                var index = self.cities.indexOf(selected);
                if (index > -1) {
                    self.cities.splice(index, 1);
                }

                $.ajax({
                    url: "/directions/cities/" + selected.id,
                    type: "DELETE",
                    success: function(response) {
                        self.loading.city = false;
                        self.message = "Successful removed!";
                        self.loadDirections();
                    },
                    error: function(xhr) {
                        self.loading.city = false;
                        self.message = xhr.responseText;
                    }
                });
            },

            addDirection: function () {
                var self = this;

                if (self.input.fromCity && self.input.toCity) {
                    var fromCityId = self.getCityFromName(self.input.fromCity).id;
                    var toCityId = self.getCityFromName(self.input.toCity).id;

                    var body = JSON.stringify({
                        fromCityId: fromCityId,
                        toCityId: toCityId
                    });

                    self.input.fromCity = null;
                    self.input.toCity = null;
                    self.input.selectedDirection = null;

                    self.message = null;
                    self.loading.direction = true;

                    $.ajax({
                        url: "/directions",
                        type: "POST",
                        contentType:"application/json",
                        data: body,
                        success: function(response) {
                            self.loading.direction = false;
                            self.directions.push(response);
                            self.message = 'Successful added';
                        },
                        error: function(xhr) {
                            self.loading.direction = false;
                            self.message = xhr.responseText;
                        }
                    });
                } else {
                    self.message = "Заполните все поля!"
                }
            },

            deleteDirection: function () {
                var self = this;
                var selected = self.input.selectedDirection;

                self.loading.direction = true;
                self.input.selectedDirection = null;
                self.message = null;

                var index = self.directions.indexOf(selected);
                if (index > -1) {
                    self.directions.splice(index, 1);
                }

                $.ajax({
                    url: "/directions/" + selected.id,
                    type: "DELETE",
                    success: function(response) {
                        self.loading.direction = false;
                        self.message = "Successful removed!"
                    },
                    error: function(xhr) {
                        self.loading.direction = false;
                        self.message = xhr.responseText;
                    }
                });
            },

            getCityFromName: function (name) {
                var city = null;

                this.cities.forEach(function (value) {
                    if (value.name === name) city = value;
                });

                return city;
            },

            getCityById: function (id) {
                if (id) {
                    var city = null;

                    this.cities.forEach(function (value) {
                        if (value.id === id) city = value;
                    });

                    return city;
                }

                return null;
            }
        },
        computed: {

        }
    });
</script>